<div class="container">
  <div class="row">
    <div class="col-md-">
      <h4>Latest Posts</h4>

      <hr>
        
        <div class="group1 col-sm-12">
          <% @blogs.each do |blog| %>
            <div class="row">
              <div class=" col-md-4">
                <%= blog.title %>
              </div>

              <div class="col-md-4">
                <p class="blog-post-meta">Published <%=distance_of_time_in_words(blog.created_at, Time.now) %> ago</p>
              </div>

              <div class="col-md-4">
                <%= blog.author %>
              </div>
            </div>

            <div class="row">
              <%= blog.body %>
            </div>

            <% if logged_in?(:site_admin) %>
              <p class="blog-post-meta">
              <%= link_to 'Create a Post', new_blog_path(blog) %> |
              <%= link_to 'Edit', edit_blog_path(blog) %> |
              <%= link_to 'Delete Post', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
              <p>
            <% end %>
          <% end %>
        </div>  
    </div>
  </div>
</div>