<div class="continer">
  <div class="row">
    <div class="group1 col-sm-12">
      <li class="media">
        <%= image_tag "workshop.jpg", width: 200, alt: "Product Image" %>
        <%= image_tag "tools.jpg", width: 200, alt: "Product Image" %>
        <%= image_tag "customworkfiretruckflag.jpg", width: 200, alt: "Product Image" %>
        <%= image_tag "workshop.jpg", width: 200, alt: "Product Image" %>
      </li>
    </div>
  </div>
  <div class="row">
    <div class="group1 col-sm-12">
      <li class="media my-4">
        <%= image_tag "tools.jpg", width: 200, alt: "Product Image" %>
        <%= image_tag "customworkfiretruckflag.jpg", width: 200, alt: "Product Image" %>
        <%= image_tag "customworkfiretruckflag.jpg", width: 200, alt: "Product Image" %>
        <%= image_tag "manypens.jpg", width: 120, alt: "Product Image" %>
      </li>
    </div>
  </div>
</div>

<div class="row">
  <div class="group1 col-sm-12">
    <li class="media">
      <%= image_tag "customworkfiretruckflag.jpg", width: 200, alt: "Product Image" %>
      <%= image_tag "customworkfiretruckflag.jpg", width: 200, alt: "Product Image" %>
      <%= image_tag "manypens.jpg", width: 120, alt: "Product Image" %>
      <%= image_tag "tools.jpg", width: 200, alt: "Product Image" %>
    </li>
  </div>
</div>